.auth-nav {
    /* width: 1157px; */
    /* margin-left: 182px; */
    display: flex;
    background-color: #082238bd;
    height: 60px;
    margin-top: 12px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.auth-nav .navBtn {
    padding: 9px;
    margin: 0 6px;
    border-radius: 10px;
    border-color: #ffffff82;
}

.navBtn {
    width: 165px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: "1px solid black";
    cursor: "pointer"
}